{% extends 'frontend/base/default.twig' %}

{% block title %}
    Wachtwoord reset
{% endblock %}

{% block body %}
    <div class="login-form col-md-6 col-md-offset-3">
    	<h3>Password reset</h3>
    	{% if errors %}
    		{% for error in errors %}
    			{{error}}
    		{% endfor %}
    	{% endif %}

        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% else %}
             <form method="post">
                <label>Wachtwoord (minimaal 5 karakters)</label>
                <input type="password" name="password" placeholder="Nieuw wachtwoord">
                <input type="hidden" name="email" value="{{email}}">
                <input type="hidden" name="reset_token" value="{{reset_token}}">
                <input type="submit" name="submit">
            </form>
        {% endif %}
        Inloggen? <a href="/login">Login</a>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/password.js"></script>
{% endblock %}
