<h2>Beste {{ user.fullname|title }}
</h2>
<p>Je bestelling met nummer #{{ order.id }} is geannuleerd.</p>
<p>Indien u al had betaald wordt het geld zo spoedig mogelijk teruggestort.</p>
<br>
<h4>Met vriendelijke groet, Eurest</h4>