<h2>Beste {{ user.fullname|title }}
</h2>
<p>Bedankt voor uw bestelling bij Eurest.</p>
<p>We hebben uw bestelling en betaling successvol ontvangen, bijgevoegd in deze mail vindt u de factuur. Deze is tevens terug te vinden in uw accountoverzicht</p>
<br>
<h4>Met vriendelijke groet, Eurest</h4>