<h2>Beste {{ user.fullname|title }}
</h2>
<p>Je bestelling met nummer #{{ order.id }} is klaar om opgehaald te worden.</p>
<b>Nogmaals bedankt voor je bestelling</b>
<br>
<h4>Met vriendelijke groet, Eurest</h4>