{% extends 'frontend/base/default.twig' %}

{% block title %}
    Home
{% endblock %}

{% block outside %}
	
	<div class="container">
		<h1>403</h1>
		<p>Forbidden</p>
		<p><small>You do not have sufficient permission to access the page or file you have requested.</small></p>
		<p><a href="/"><button class="btn btn-sm btn-primary" type="button">Home</button></a> &nbsp; <a onclick="back()"><button class="btn btn-sm btn-primary" type="button">Back to previous page</button></a></p>
	</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
		function back() {
		    window.history.back();
		}
	</script>
{% endblock %}