<h2>Beste {{ user.firstname|title }} {{ user.middlename }} {{ user.lastname|title }}
</h2>
<p>Om in te kunnen loggen met je Eurest account dien je je account eenmalig te bevestigen door op onderstaande link te klikken.</p>
<a href="{{ activate_url }}">Bevestig mijn account</a>
<br>
<h4>Met vriendelijke groet, Eurest</h4>
