<h2>Beste {{ user.fullname|title }}
</h2>
<p>Met onderstaande link kunt u uw wachtwoord opnieuw instellen.</p>
<a href="{{ reset_url }}">Reset mijn wachtwoord</a>
<br>
<h4>Met vriendelijke groet, Eurest</h4>